.home-page {
    padding: none !important;
}

.home-page header {
    background-color: black;
    padding: none;
}

.title{
    color: red;
    text-align: left;
    padding-bottom: 5%;
}

.main-content {
    display: flex;
    justify-content: center;
    align-items: top;
    text-align: left;
    padding: 50px;
    height: 100vh;
    background-color: black;
    color: white;
  }
  
.content-text {
    padding-top: 5%;
    max-width: 600px;
    margin-right: 20px;
}

.content-image img {
    padding-top: 5%;
    max-width: 100%;
    height: auto;
}